<ul class="navbar-nav">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hello, @User.Identity.Name
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-dark" asp-action="Profile" asp-controller="Account">My profile</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="LogOut" asp-controller="Account">Logout</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="Login" asp-controller="Account">Login</a>
            </li>
        }
    }
</ul>