@model IEnumerable<ShoeApp2.ViewModels.ShoeViewModels.ShoeViewModel>

@{
    ViewData["Title"] = "ShoeBrowser";
}

<header>
    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</header>

<h1>Shoes</h1>

<!-- Search form -->
<div>
    <p><input class="form-control" type="text" placeholder="Enter name of the shoe" aria-label="Search"></p>
    <p><button type="button" class="btn btn-primary" asp-area="" asp-controller="Shoe" asp-action="ListShoeByBrand">Search</button> </p>

</div>



@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src=@item.ImageURL  alt="">
            <div class="card-body">
                <h3 class="card-title "> @item.Brand</h3>
                <h4>@item.Name</h4>
                <h5>@item.Price</h5>
                <p class="card-text">@item.Description</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" asp-area="" asp-controller="" asp-action="">Add to collection</button>
            </div>
        </div>
    </div>
}

