@model ShoeApp2.ViewModels.AccountViewModels.ProfileViewModel


<div class="container">
    <h2>User profile</h2>
    <hr />
    <form asp-action="Profile" asp-controller="Account" method="post">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>   
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="EmailAddress"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <input class="btn btn-primary" value="Update" type="submit" />
            </div>
        </div>
    </form>
</div>
